<div th:fragment="newBar">
  <link rel="stylesheet" th:href="@{/newNav.css}" />
  <div class="nav-bar">
    <div class="nav-logo">DIETIFY</div>
    <div class="nav-links-container">
      <a class="nav-linkbar" href="#topSection" id="topLink">Home</a>
      <a class="nav-linkbar" href="#aboutSection" id="aboutLink">About Us</a>
      <a class="nav-linkbar" href="#servicesSection" id="servicesLink">Survey</a>
      <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-linkbar" href="#servicesSection" id="servicesLink">addBlogs</a>
      <a class="nav-linkbar" href="#contactSection" id="contactLink">Profile</a>
    </div>
  </div>
</div>
